/* global rules*/
:root {
    --main-color : #2196f3;
    --main-color-alt : #1787e0;
    --main-transition : 0.3s;

}

html{
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/*the title that each section starts with*/
.main-title{
    margin: 220px auto ;
    margin-bottom: 100px;
    border: 2px solid black;
    padding: 10px 20px;
    position: relative;
    width: fit-content;
    font-size: 25px;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
      left: -30px;
}
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after{
    right: -30px;
}
.main-title:hover::before{
    z-index: -1;
    animation: circle-left 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: circle-right 0.5s linear forwards;
}
/*left circle animation*/
@keyframes circle-left {
    50%{
        left: 0;
        height: 12px;
        width: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
/*right circle animation*/
@keyframes circle-right {
    50%{
        right: 0;
        height: 12px;
        width: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}

.main-title:hover{
    color: white;
    border: 1px solid white;
    transition-delay:0.5s ;
}
/* end of global rules*/
/* Header */
.header {
    background-color: #eee;
    box-shadow: 0 0 10px gray;
    position: relative;
    padding: 0;
   
}
.header .container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.header .logo {
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (Max-width: 767px) {
  .header .logo { 
    width: 100%;
    height: 71px;
  }

}

.header .main-nav {
    display: flex;

}
@media (Max-width: 767px) {
 .header .main-nav { 
    margin: auto;}
  }
.header .main-nav > li > a {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 25px;
    transition: var(--main-transition);
    overflow: hidden;
    height: 105.6px;
}
@media (Max-width: 767px) {
.header .main-nav > li > a { 
    padding: 10px;
    height: 40px;    
}
  }
.header .main-nav > li > a::before {
    content: 0;
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 6px;
    top: 0;
    left: -80%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;

}
.header .main-nav > li > a:hover::before {
left: 0;
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: #e4dfdf;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap:  40px;
    opacity: 0;
    top: calc(100% + 30px);
    transition: top var(--main-transition), opacity var(--main-transition);
}
/* to show the "other links"
 section when hovered over*/
.header .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 0.5px);
}
@media (max-width: 771px) {
    .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
}
}  

.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width:991px) {
    .header .mega-menu .image img {
    display: none;
}
}
.header .mega-menu .links{
    min-width: 250px;
    flex: 1;
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid black;
}
/*to show the border-bottom of the last
 li in the first ul list in mobile form*/
@media (max-width:761px){
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid black;
    }
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #e9e6e6;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;

}
.header .mega-menu .links li {

}
.header .mega-menu .links li a{
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;

}
.header .mega-menu .links li a i {
    margin: 10px;
}
/*landing*/
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100hv - 105.6px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .image img {
   
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width : 991px) {
    .landing .image img {
    display: none;
}}
/* image animation*/
@keyframes up-and-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
/*end image animation*/

.landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 991px){
    .landing .go-down{
        margin-bottom: 120px;
    }
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/*icon animation*/
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-20px);
    }
    
} 
/*end icon animation*/ 
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .text {
    flex: 1;
}
@media (max-width : 991px) {
    .landing .text  {
    text-align: center;
    padding-top: 200px;
}
}
.landing .text h1{
    margin: 0;
    letter-spacing: -1;
    font-size: 40px;
}
.landing .text p {
    font-size: 20px;
    line-height: 1.7;
}
@media (max-width : 991px) {
    .landing .text p  {
    margin: 10px auto;
}
}
@media (max-width : 767px) {
    .landing .text p  {
    font-size: 18px;
}
}
/*end of landing*/
/*Articles section*/
.articles{
padding-top: 0;
padding-bottom: 100px;
position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    transition: transform var(--main-transition), box-shadow var(--main-transition)
}
.articles .box:hover{
    transform: translateY(-15px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.articles .box img {
    width: 100%;
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--main-color-alt);
    font-weight:bold ;
}
.articles .box .info i {
    color: var(--main-color-alt);
    font-weight:bold ;
}
.articles .box:hover .info i{
    animation: arrow-bounce 1.5s linear infinite;
}

@keyframes arrow-bounce {
   	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(15px);}
	60% {transform: translateX(7px);}
}
/*end of Articles section*/
/*Gallery section*/
.gallery{
    padding-bottom: 100px;
    position: relative;
    background-color: lightgray ;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box{
    padding: 15px ;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%)
}
.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    background-color: rgb(255, 255, 255, 0.2);
    width: 0;
    height: 0;
    transform: translate(-50% , -50%);
    opacity: 0;
}

.gallery .container .box .image:hover::before {
    animation: flashing 0.7s;
}
/*flashing animation*/ 
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.gallery  .box img {
    max-width: 100%;
}
/*end of Gallery section*/